.app__work {
  min-height: 100vh;
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f5f5;
  color: rgb(36, 58, 115);
  font-family: 'Lato', serif;
  padding: 1rem;
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin: 4rem 0 2rem;
  width: 70%;

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: rgb(36, 58, 115);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: rgb(36, 58, 115);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__work-portfolio {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  .app__work-item {
    width: 70vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 2000px) {
      width: 90vw;
      height: 600px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 700px) {
      width: 80vw;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  }
}

.app__work-img {
  width: 200px;
  height: 200px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 470px;
    height: 100%;
    padding: 1.25rem;
    border-radius: 0.75rem;
  }

  .app__work-tag {
    position: absolute;
    border: 1.5px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #393f5e;
    bottom: -20px;

    .p-text {
      color: white;
    }
  }
}

.clickable {
  cursor: pointer;
}

.app__work-content {
  padding: 0.5rem;
  position: relative;
  flex-direction: column;
  flex: 1;
  margin-left: 1.5rem;

  .bold-text {
    text-align: center;
    text-transform: initial;
    align-self: center;
  }

  h4 {
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  .p-text {
    overflow: hidden;
    text-align: initial;
    text-transform: initial;
    margin-top: 10px;
  }

  .app__work-button {
    align-items: center;
    appearance: none;
    background-color: rgb(36, 58, 115);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    line-height: 24.5px;
    margin: 2px;
    min-width: 64px;
    outline: none;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s;
    vertical-align: middle;
    width: 10rem;
  }

  .app__work-button-ripple {
    position: absolute;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: transparent radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%) center/15000%;
    }

    &:active {
      background-color: transparent;
      background-size: 100%;
      transition: background 0s;
    }
  }

  @media screen and (max-width: 700px) {
    margin-left: 0;
  }
}
