.app__navigation {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin: 0 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  min-width: 2.5rem;
  min-height: 80vh;
  max-height: 90vh;
  background: rgba(156, 180, 204, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  padding: 0.5rem;
  z-index: 999999;

  @media (max-width: 768px) {
    display: none;
  }
}

.app__navigation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.01s ease-in-out;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;

  svg {
    height: 34%;
    width: auto;
  }
}

$floating-menu-width: 60px;
$floating-menu-height: 60px;
$floating-menu-icon-size: 40px;

.floating-menu {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: $floating-menu-width;
  height: $floating-menu-height;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  transition: transform 0.1s linear;

  &.active {
    transform: translate(-30px, -30px);
  }

  .icon {
    color: #0066cc;
    position: absolute;
    width: $floating-menu-icon-size;
    height: $floating-menu-icon-size;
    padding: calc(($floating-menu-width - $floating-menu-icon-size) / 2);
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.263, 1.55);
  }

  .menu-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: calc(($floating-menu-width - $floating-menu-icon-size) / 2);
    background-color: #0a365d;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      border-radius: 50%;

      svg {
        transform: rotate(45deg);
      }
    }
  }

  .active.icon-1 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(62px, 0);
  }
  .active.icon-2 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(31px, -54px);
  }
  .active.icon-3 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(-31px, -54px);
  }
  .active.icon-4 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(-62px, 0);
  }
  .active.icon-5 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(-31px, 54px);
  }
  .active.icon-6 {
    color: white;
    background-color: #0066cc;
    z-index: 999;
    transform: translate(31px, 54px);
  }
}
